![dvd_image](dvd_image.jpg)

A DVD rental company needs your help! They want to figure out how many days a customer will rent a DVD for based on some features and has approached you for help. They want you to try out some regression models which will help predict the number of days a customer will rent a DVD for. The company wants a model which yeilds a MSE of 3 or less on a test set. The model you make will help the company become more efficient inventory planning.

The data they provided is in the csv file `rental_info.csv`. It has the following features:
- `"rental_date"`: The date (and time) the customer rents the DVD.
- `"return_date"`: The date (and time) the customer returns the DVD.
- `"amount"`: The amount paid by the customer for renting the DVD.
- `"amount_2"`: The square of `"amount"`.
- `"rental_rate"`: The rate at which the DVD is rented for.
- `"rental_rate_2"`: The square of `"rental_rate"`.
- `"release_year"`: The year the movie being rented was released.
- `"length"`: Lenght of the movie being rented, in minuites.
- `"length_2"`: The square of `"length"`.
- `"replacement_cost"`: The amount it will cost the company to replace the DVD.
- `"special_features"`: Any special features, for example trailers/deleted scenes that the DVD also has.
- `"NC-17"`, `"PG"`, `"PG-13"`, `"R"`: These columns are dummy variables of the rating of the movie. It takes the value 1 if the move is rated as the column name and 0 otherwise. For your convinience, the reference dummy has already been dropped.

In [64]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Import any additional modules and start coding below

First we import the dataset and analyze it.

In [65]:
rental_info_df = pd.read_csv("rental_info.csv")
rental_info_df.head()

                 rental_date  ... rental_rate_2
0  2005-05-25 02:54:33+00:00  ...        8.9401
1  2005-06-15 23:19:16+00:00  ...        8.9401
2  2005-07-10 04:27:45+00:00  ...        8.9401
3  2005-07-31 12:06:41+00:00  ...        8.9401
4  2005-08-19 12:30:04+00:00  ...        8.9401

[5 rows x 15 columns]

Now, we get the amount of days that each movie was rented. Then, we eliminate the date columns, since we already engineered that feature.

In [66]:
rental_info_df[['rental_date','return_date']] = rental_info_df[['rental_date','return_date']].apply(pd.to_datetime) 
rental_info_df['rental_length_days'] = (rental_info_df['return_date'] - rental_info_df['rental_date']).dt.days

In [67]:
rental_info_df = rental_info_df.drop(["rental_date", "return_date"], axis=1)
rental_info_df.head()

   amount  release_year  ...  rental_rate_2  rental_length_days
0    2.99        2005.0  ...         8.9401                   3
1    2.99        2005.0  ...         8.9401                   2
2    2.99        2005.0  ...         8.9401                   7
3    2.99        2005.0  ...         8.9401                   2
4    2.99        2005.0  ...         8.9401                   4

[5 rows x 14 columns]

Now, regarding the features, there are only four unique features, two of which are "Behind the Scenes" and "Deleted Scenes". We create two new columns binary encoders for each of these features. Then, we eliminate the special features column.

In [68]:
rental_info_df["special_features"].unique()

array(['{Trailers,"Behind the Scenes"}', '{Trailers}',
       '{Commentaries,"Behind the Scenes"}', '{Trailers,Commentaries}',
       '{"Deleted Scenes","Behind the Scenes"}',
       '{Commentaries,"Deleted Scenes","Behind the Scenes"}',
       '{Trailers,Commentaries,"Deleted Scenes"}',
       '{"Behind the Scenes"}',
       '{Trailers,"Deleted Scenes","Behind the Scenes"}',
       '{Commentaries,"Deleted Scenes"}', '{Commentaries}',
       '{Trailers,Commentaries,"Behind the Scenes"}',
       '{Trailers,"Deleted Scenes"}', '{"Deleted Scenes"}',
       '{Trailers,Commentaries,"Deleted Scenes","Behind the Scenes"}'],
      dtype=object)

In [69]:
behind_the_scenes = []
deleted_scenes = []

for features_str in rental_info_df["special_features"]:
    features = features_str.replace("{", "").replace("}", "").replace('"', '').split(",")
    if "Behind the Scenes" in features:
        behind_the_scenes.append(1)
    else:
        behind_the_scenes.append(0)
    if "Deleted Scenes" in features:
        deleted_scenes.append(1)
    else:
        deleted_scenes.append(0)

rental_info_df["behind_the_scenes"] = behind_the_scenes
rental_info_df["deleted_scenes"] = deleted_scenes

rental_info_df = rental_info_df.drop("special_features", axis=1)

rental_info_df.head()

   amount  release_year  ...  behind_the_scenes  deleted_scenes
0    2.99        2005.0  ...                  1               0
1    2.99        2005.0  ...                  1               0
2    2.99        2005.0  ...                  1               0
3    2.99        2005.0  ...                  1               0
4    2.99        2005.0  ...                  1               0

[5 rows x 15 columns]

Finally, we start splitting the data. We separate the "rental_length_days" as the target "y". The rest of features is saved as "X".

In [70]:
X = rental_info_df.drop("rental_length_days", axis=1)
y = rental_info_df["rental_length_days"]

We split 20% of the data for testing.

In [71]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=9)

We create a random forest regressor with 100 trees to see what score the model gives us.

In [72]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

rfr = RandomForestRegressor(n_estimators=100, max_depth=4)
rfr.fit(X_train, y_train)
y_pred = rfr.predict(X_test)

mse_rfr = mean_squared_error(y_pred, y_test)

print(mse_rfr)

2.8224477365714162

We now do the same with a linear regression.

In [73]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

mse_lr = mean_squared_error(y_pred, y_test)

print(mse_lr)

2.874977484385885

From both mnodels, the one that gave better results was the random forest regressor.

In [74]:
best_model = rfr
best_mse = mse_rfr