![Los Angeles skyline](la_skyline.jpg)

Los Angeles, California ðŸ˜Ž. The City of Angels. Tinseltown. The Entertainment Capital of the World! 

Known for its warm weather, palm trees, sprawling coastline, and Hollywood, along with producing some of the most iconic films and songs. However, as with any highly populated city, it isn't always glamorous and there can be a large volume of crime. That's where you can help!

You have been asked to support the Los Angeles Police Department (LAPD) by analyzing crime data to identify patterns in criminal behavior. They plan to use your insights to allocate resources effectively to tackle various crimes in different areas.

## The Data

They have provided you with a single dataset to use. A summary and preview are provided below.

It is a modified version of the original data, which is publicly available from Los Angeles Open Data.

# crimes.csv

| Column     | Description              |
|------------|--------------------------|
| `'DR_NO'` | Division of Records Number: Official file number made up of a 2-digit year, area ID, and 5 digits. |
| `'Date Rptd'` | Date reported - MM/DD/YYYY. |
| `'DATE OCC'` | Date of occurrence - MM/DD/YYYY. |
| `'TIME OCC'` | In 24-hour military time. |
| `'AREA NAME'` | The 21 Geographic Areas or Patrol Divisions are also given a name designation that references a landmark or the surrounding community that it is responsible for. For example, the 77th Street Division is located at the intersection of South Broadway and 77th Street, serving neighborhoods in South Los Angeles. |
| `'Crm Cd Desc'` | Indicates the crime committed. |
| `'Vict Age'` | Victim's age in years. |
| `'Vict Sex'` | Victim's sex: `F`: Female, `M`: Male, `X`: Unknown. |
| `'Vict Descent'` | Victim's descent:<ul><li>`A` - Other Asian</li><li>`B` - Black</li><li>`C` - Chinese</li><li>`D` - Cambodian</li><li>`F` - Filipino</li><li>`G` - Guamanian</li><li>`H` - Hispanic/Latin/Mexican</li><li>`I` - American Indian/Alaskan Native</li><li>`J` - Japanese</li><li>`K` - Korean</li><li>`L` - Laotian</li><li>`O` - Other</li><li>`P` - Pacific Islander</li><li>`S` - Samoan</li><li>`U` - Hawaiian</li><li>`V` - Vietnamese</li><li>`W` - White</li><li>`X` - Unknown</li><li>`Z` - Asian Indian</li> |
| `'Weapon Desc'` | Description of the weapon used (if applicable). |
| `'Status Desc'` | Crime status. |
| `'LOCATION'` | Street address of the crime. |

First, we import the necessary libraries and put our data into a DataFrame.

In [10]:
# Re-run this cell
#Â Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
crimes = pd.read_csv("crimes.csv", parse_dates=["Date Rptd", "DATE OCC"], dtype={"TIME OCC": str})
crimes.head()

       DR_NO  Date Rptd  ...  Status Desc                                 LOCATION
0  220314085 2022-07-22  ...  Invest Cont  2500 S  SYCAMORE                     AV
1  222013040 2022-08-06  ...  Invest Cont  3300    SAN MARINO                   ST
2  220614831 2022-08-18  ...  Invest Cont                        1900    TRANSIENT
3  231207725 2023-02-27  ...  Invest Cont  6200    4TH                          AV
4  220213256 2022-07-14  ...  Invest Cont  1200 W  7TH                          ST

[5 rows x 12 columns]

In order to get the hour with the most frequency of crimes, we must first extract the hour from the TIME_OCC column of the data.

In [11]:
hours = []
for i, row in crimes.iterrows():
    time = row["TIME OCC"]
    hour = int(time[0:2])
    hours.append(hour)

crimes["HOUR"] = hours
crimes[["TIME OCC", "HOUR"]].head()

  TIME OCC  HOUR
0     1110    11
1     1620    16
2     1200    12
3     0635     6
4     0900     9

We can now get the frequency for each unique value in the new HOUR column.

In [12]:
crimes["HOUR"].value_counts().head()

12    13663
18    10125
17     9964
20     9579
15     9393
Name: HOUR, dtype: int64

We can see that the most frequent hour is 12, so we save that value in the peak_crime_hour variable.

In [13]:
peak_crime_hour = 12

Now, in order to get the most frquent location for crimes that happen during the night, we can first filter to get all crimes that happened between 10 pm (22 hrs) and 4 am in the morning.

In [14]:
night_crimes = crimes[(crimes["HOUR"] > 22) | (crimes["HOUR"] < 4)]
night_crimes.head()

        DR_NO  Date Rptd  ...                                  LOCATION HOUR
8   231207476 2023-02-27  ...   8800    HAAS                         AV    0
10  221711184 2022-06-15  ...   8300    WHITE OAK                    AV    1
30  221314362 2022-07-11  ...   1600 E  OLYMPIC                      BL    0
33  231307252 2023-03-03  ...                          6600 S  BROADWAY   23
36  221614254 2022-11-13  ...  10200    TELFAIR                      AV    0

[5 rows x 13 columns]

We now get the frequency for each unique location.

In [15]:
night_crimes["AREA NAME"].value_counts().head()

Central        2548
Hollywood      2160
77th Street    2062
Southeast      1801
Southwest      1794
Name: AREA NAME, dtype: int64

The most frequent location for crimes that happen during those hours is "Central".

In [16]:
peak_night_crime_location = "Central"

Finally, if we want to get the frequency of crimes by certain age ranges, we can cut the DataFrame into differnet bins depending on the age of the victim.

In [17]:
crimes['age_range'] = pd.cut(crimes['Vict Age'], bins=[0, 17, 25, 34, 44, 54, 64, np.inf], labels=["0-17", "18-25", "26-34", "35-44", "45-54", "55-64", "65+"])
victim_ages = crimes['age_range'].value_counts()
victim_ages

26-34    47470
35-44    42157
45-54    28353
18-25    28291
55-64    20169
65+      14747
0-17      4528
Name: age_range, dtype: int64